.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.formBlock {
  backdrop-filter: blur(10px);
  padding: 60px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  border: 6px solid #570a606d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.577);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.titleRegister {
  text-align: center;
  color: #cbcbcb;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px 12px;
  border-bottom: 2px solid #cbcbcb;
  color: white;
  background: transparent;
  position: relative;
  transition: 0.5s ease;
}
.inputGroup:focus-within {
  border-bottom: 2px solid #7f0b8c;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 3px;
  background: none;
  color: #cbcbcb;
}

.input::placeholder {
  color: #cbcbcb;
}

.eyeButton {
  background: none;
  border: none;
  color: #cbcbcb;
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 16px;
  transition: 0.4s ease;
}

.eyeButton:hover {
  color: #7f0b8c;
}

.icon {
  margin-right: 10px;
  color: #afafaf;
}

.btnWrapper {
  width: 100%;
  margin-top: 20px;
}

.btn {
  width: 100%;
  height: 45px;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  background-color: #7f0b8c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:disabled {
  background-color: #b0c4de;
}

.btn:hover {
  background-color: #9d1fab;
}

.switchText {
  text-align: center;
  color: rgb(165, 165, 165);
  margin-top: 15px;
}

.switchText span {
  color: #2575fc;
  font-weight: bold;
  cursor: pointer;
}

.switchText span:hover {
  text-decoration: underline;
  color: #7f0b8c;
}

.errorText {
  position: absolute;
  bottom: 152px;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  color: red;
  margin-top: 15px;
}


@media (max-width: 480px) {
  .formBlock {
    padding: 50px;
  }

  .titleRegister {
    font-size: 26px;
  }

  .input {
    font-size: 14px;
  }

  .btn {
    height: 40px;
  }

  .authIconBottom {
    gap: 15px;
  }

  .authIconBottom button {
    padding: 5px 10px;
  }

  .authIconBottom img {
    height: 20px;
    width: 20px;
  }

  .errorText {
    bottom: 137px;
  }
}
