.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFilterContain {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 700px;
  margin-left: 465px;
}

.genreSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 17px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #969696;
  background-color: transparent;
  color: #aaa;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
}

.genreSelect:hover {
  border-color: #969696;
  color: #ffffff;
}

.genreSelect:hover {
  border-color: #5c1d77;
  box-shadow: 0 0 20px rgba(92, 29, 119, 0.5);
}
.genreSelect:focus {
  border-color: #5c1d77;
  box-shadow: 0 0 20px rgba(92, 29, 119, 0.5);
}

option {
  background-color: #000000;
  color: white;
  padding: 10px;
}

.searchInput {
  width: 235px;
  padding: 10px 30px;
  margin: 30px 0;
  font-size: 16px;
  border-radius: 25px;
  background-color: transparent;
  color: #aaa;
  border: 1px solid #636363;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.searchInput:hover {
  box-shadow: 0 0 20px rgba(96, 31, 124, 0.831);
}
.searchInput:focus {
  border-color: #5c1d77;
  box-shadow: 0 0 20px rgba(92, 29, 119, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.703);
  color: #fff;
  padding: 20px;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}

.btnInfoBlock {
  padding: 12px 30px;
  background-color: #5c1d77;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.btnInfoBlock:hover {
  background-color: #4a1455;
}

.ticketIcon {
  margin-right: 10px;
  font-size: 18px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skeletonCard {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #3333337c;
}
