.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.titleUp {
  font-size: 28px;
  color: #5c1d77;
  text-shadow: 0 12px 15px rgba(92, 29, 119, 0.5);
}

.inputFilterContain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  margin-bottom: 30px;
}

.searchInput {
  max-width: 200px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 19px;
  border: 1px solid #aaa;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

.searchInput:focus,
.searchInput:hover {
  border-color: #5c1d77;
  box-shadow: 0 0 25px rgba(92, 29, 119, 0.5);
}

.filterWrapper {
  margin-left: 20px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdownButton {
  background-color: #5c1d77;
  letter-spacing: 1px;
  color: #dbdbdb;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dropdownButton:hover {
  background-color: #73218e;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
  z-index: 10;
  margin-top: 5px;
}

.dropdownItem {
  padding: 8px 14px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.669);
  backdrop-filter: blur(5px);
  letter-spacing: 1px;
  color: #5c1d77;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #5c1d77;
  color: white;
}


.filterWrapper:hover .dropdownMenu {
  display: block;
}

.dropdownMenu li {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.dropdownMenu li:hover {
  background-color: #5c1d77;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 555px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.image:hover {
  transform: scale(1.05);
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 17px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}

.highRating {
  background-color: #4caf50;
}

.mediumRating {
  background-color: #ff9800;
}

.lowRating {
  background-color: #f44336;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

.cardBottom {
  display: flex;
  justify-content: space-between;

  margin: 15px 5px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.btnInfoBlock {
  padding: 12px 24px;
  background-color: #5c1d77;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnInfoBlock:hover {
  background-color: #4a1455;
}

.skeletonCard {
  width: 100%;
  height: 400px;
  background-color: #444;
  border-radius: 10px;
}


@media (max-width: 880px) {
  .titleUp {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .titleUp {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .searchInput {
    padding: 10px 15px;
  }

  .cardList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    max-width: 285px;
    max-height: 470px;
  }

  .rating {
    padding: 5px 12px;
  }

  .title {
    font-size: 17px;
    font-weight: bold;
  }

  .inputFilterContain {
    justify-content: space-around;
    gap: 70px;
  }

  .searchInput {
    max-width: 110px;
  }
  .searchInput:focus {
    max-width: 200px;
  }

  .dropdownButton {
    padding: 9px 20px;
  }

  .filterWrapper {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .titleUp {
    font-size: 18px;
  }
  .card {
    max-width: 220px;
    max-height: 400px;
  }
}

@media (max-width: 511px) {
  .cardList {
    gap: 25px;
  }

  .card {
    max-width: 185px;
    max-height: 350px;
  }
}
