.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 40px;
}

.imageContainer {
  flex: 1 1 40%;
  padding-right: 20px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details {
  flex: 1 1 55%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #cccccc;
  margin-bottom: 20px;
}

.rating {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 10px;
}

.restrictions {
  width: 40px;
  height: 30px;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.39);
}

.description {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 25px;
  line-height: 1.6;
}

.ticketsButton {
  width: 120px;
  height: 42px;
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #5c1d77;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.ticketsButton:hover {
  opacity: 0.8;
}

.videoContainer {
  width: 100%;
  margin-top: 25px;
  display: flex;
}

.titleRevievCard {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

iframe {
  border-radius: 8px;
}

.blockReviewCard {
  overflow-y: hidden;
  height: 250px;
  overflow-y: scroll;
}

.reviewBlock {
  padding: 20px;
  width: 500px;
  margin-top: 100px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #5c1d77;
  box-shadow: 0 0 20px rgba(92, 29, 119, 0.5);
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.reviewBlock {
  flex: 1 1 40%;
}

.reviewSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewInput {
  width: 100%;
  padding: 10px;
  border: 2px solid #5c1d77;
  border-radius: 10px;
  background: #2a1e4d;
  color: #ffffff;
  resize: none;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(92, 29, 119, 0.5);
}

.reviewInput::placeholder {
  color: #a69cb5;
}

.submitReviewBtn {
  padding: 10px 15px;
  background-color: #5c1d77;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(92, 29, 119, 0.5);
}

.submitReviewBtn:hover {
  background-color: #7d259d;
}

.reviews {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background: #2a1e4d;
  border-radius: 10px;
  border: 2px solid #5c1d77;
  box-shadow: 0 0 15px rgba(92, 29, 119, 0.5);
  color: #ffffff;
}

.reviewCard {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid #5c1d77;
  box-shadow: 0 0 10px rgba(92, 29, 119, 0.3);
  color: #e0e0ff;
  font-size: 0.9rem;
}

.reviewCard p {
  margin: 0;
  font-size: 1rem;
}

.loginPrompt {
  margin-top: 20px;
  text-align: center;
}

.loginPrompt button {
  padding: 10px 20px;
  background-color: #5c1d77;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginPrompt button:hover {
  background-color: #7d259d;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    width: 70%;
    padding-right: 0;
  }

  .details {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .title {
    font-size: 1.8rem;
  }

  .reviewBlock {
    margin: 20px 0;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .imageContainer {
    width: 80%;
    padding-right: 0;
  }

  .image {
    width: 100%;
    margin: 0 auto;
  }

  .description {
    text-align: start;
  }

  .reviewBlock {
    padding: 15px;
  }

  .submitReviewBtn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  iframe {
    height: 187px;
    width: 340px;
  }
}
