.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 15px auto;
}

.logoContainer h1 {
  font-size: 32px;
  font-family: "RocknRoll One", sans-serif;
  margin: 15px auto;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px #7f0b8c;
}

.navContainer {
  display: flex;
  justify-content: center;

  max-width: 550px;
  padding: 20px 50px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.navList {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.navList li a {
  text-decoration: none;
  color: rgb(191, 191, 191);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.navList li:hover {
  color: #9615a4;
  cursor: pointer;
}
.navList li a:hover {
  color: #9615a4;
}

.loginButton {
  padding: 10px 28px;
  color: #cfcfcf;
  border: 2px solid #5a0c63;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.4s ease;
}

.loginButton:hover {
  background-color: #5a0c63;
  box-shadow: 0 0 15px #8a1897;
  color: #fff;
}
