.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  margin: 5px 150px;
  padding: 15px;
}

.logoContainer h1 {
  font-size: 32px;
  font-family: "RocknRoll One", sans-serif;
  margin: 0;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px #5c1d77;
}
.logoContainer a {
  text-decoration: none;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.bar {
  display: block;
  height: 4px;
  background-color: #aaa;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 70%;
  margin-left: auto;
}

.bar:nth-child(3) {
  width: 80%;
}

.burgerButton.active .bar:nth-child(1) {
  transform: rotate(45deg);
  width: 100%;
  top: 10px;
  position: absolute;
}

.burgerButton.active .bar:nth-child(2) {
  opacity: 0;
}

.burgerButton.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  width: 100%;
  bottom: 10px;
  position: absolute;
}

.burgerButton:hover .bar {
  background-color: #7f0b8c;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 200px;
  transition: 0.3s ease, transform 0.3s ease;
}

.navOpen {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.navList {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navList li {
  position: relative;
}

.navList li a {
  position: relative;
  text-decoration: none;
  color: rgb(191, 191, 191);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.navList li a:hover {
  color: #a21cb0;
  text-shadow: 0 0 15px #a21cb0;
}

.navList li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
  text-align: left;
}

.navList li:hover ul {
  display: block;
}

.navList li ul li a {
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}

.navList li ul li a:hover {
  color: #5c1d77;
}

.loginButton {
  padding: 9px 28px;
  color: #cfcfcf;
  border: 2px solid #5c1d77;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.4s ease;
}

.loginButton:hover {
  background-color: #5c1d77;
  box-shadow: 0 0 15px #5c1d77;
  color: #fff;
}

@media (max-width: 1200px) {
  .header {
    margin: 5px 50px;
  }
  .navList li a {
    font-size: 15px;
  }
  .loginButton {
    padding: 10px 23px;
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .header {
    margin: 5px 30px;
  }
  .logoContainer h1 {
    font-size: 26px;
    font-weight: 500;
  }
  .navList li a {
    font-size: 14px;
  }
  .loginButton {
    padding: 9px 21px;
    font-size: 15px;
    width: 100%;
  }
}

@media (max-width: 780px) {
  .header {
    margin: 5px 10px;
    justify-content: space-between;
  }

  .logoContainer h1 {
    font-size: 28px;
    font-weight: 500;
  }

  .burgerButton {
    display: flex;
  }

  .navContainer {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(8px);
    height: 200px;
    width: 170px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateY(-20px);
    opacity: 0;
  }

  .navOpen {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .navList {
    flex-direction: column;
    gap: 15px;
  }

  .navList li ul {
    position: relative;
    box-shadow: none;
  }

  .navList li a:hover {
    background-color: rgba(150, 21, 164, 0.1);
    color: #9615a4;
  }

  .loginButton {
    padding: 7px 17px;
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header {
    margin: 5px 0px;
  }
}
