.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  background: #222;
  border-radius: 20px 20px 2px 2px;
  color: rgb(216, 216, 216);
  text-align: center;
  padding: 8px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.409);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: black;
  transition: 1.2s ease;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(360deg);
}

.blockBorder {
  border-radius: 12px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.205);
  padding: 35px 60px;
  background: white;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleModal {
  color: #333333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.titleText {
  color: #555555;
  text-align: start;
  padding-left: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}


.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  max-width: 500px;
}

.seat {
  padding: 10px;
  margin: 6px;
  max-width: 50px;
  max-height: 50px;
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
  border: 1px solid #cccccc;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.3s;
}

.seat:hover {
  background: linear-gradient(135deg, #d0d0d0, #f0f0f0);
}

.selected {
  background: linear-gradient(135deg, #6a0dad, #9c27b0);
  color: white;
  border: none;
}

.booked {
  background: linear-gradient(135deg, #b0b0b0, #c0c0c0);
  color: #888888;
  border: none;
  cursor: not-allowed;
}

.modalBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 15px;
  margin-top: 30px;
}

.priceContainer {
  color: black;
}

.bookButton {
  padding: 12px 28px;
  height: 40px;
  background: #0c0c0c;
  color: rgb(227, 227, 227);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  align-self: center;
}

.bookButton:hover {
  background: #151515e3;
}

@media (max-width: 768px) {
  .screen {
    margin-bottom: 0;
    font-size: 16px;
  }

  .titleModal {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .titleText {
    margin: 15px 0;
    font-size: 18px;
  }

  .blockBorder {
    padding: 30px;
  }

  .seat {
    padding: 11px;
    margin: 5px;
    font-size: 13px;
  }

  .bookButton {
    padding: 12px 26px;
    font-size: 15px;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .screen {
    height: 30px;
    font-size: 14px;
  }

  .titleModal {
    font-size: 22px;
  }

  .titleText {
    margin: 10px 0;
    font-size: 14px;
  }

  .blockBorder {
    padding: 20px;
  }

  .seat {
    padding: 9px;
    margin: 4px;
    font-size: 12px;
  }

  .modalBottom {
    flex-direction: column;
    gap: 10px;
  }

  .bookButton {
    width: 100%;
    font-size: 17px;
    letter-spacing: 2px;
    margin: 0;
  }
}
