.header {
  background-color: rgb(165, 173, 165);
  padding: 20px 50px;
  position: sticky;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 1000;
}

.headerNav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
}
