.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.titleModal {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.paragraph {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.price {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.confirmButton {
  background-color: black;
  color: white;
  padding: 10px 23px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #555;
}

.cancelButton {
  background-color: white;
  color: black;
  padding: 10px 23px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #f1f1f1;
}
