@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=RocknRoll+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: #984d6a;
}

body {
  background: linear-gradient(135deg, #000000, #2f1532, #040c1d);
  color: white;
}